@model Experience

@{
    ViewData["Title"] = "Deneyim Düzenle";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title text-white">İş Deneyimi Düzenle</h3>
            </div>
            <form method="post" action="/Admin/EditExperience">
                @Html.AntiForgeryToken()
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Pozisyon</label>
                            <input type="text" name="Position" value="@Model.Position" class="form-control" required />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Firma Adı</label>
                            <input type="text" name="CompanyName" value="@Model.CompanyName" class="form-control" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>Firma Sektörü</label>
                            <input type="text" name="Industry" value="@Model.Industry" class="form-control" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Departman</label>
                            <input type="text" name="Department" value="@Model.Department" class="form-control" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Adres</label>
                            <input type="text" name="Address" value="@Model.Address" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Başlangıç Tarihi</label>
                            <input type="date" name="StartDate" value="@(Model.StartDate.ToString("yyyy-MM-dd"))" class="form-control" required />
                        </div>
                        <div class="col-md-6 form-group" id="endDateGroup">
                            <label>Bitiş Tarihi</label>
                            <input type="date" name="EndDate" value="@(Model.EndDate?.ToString("yyyy-MM-dd"))" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                         <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="isWorking" name="IsCurrentlyWorking" value="true" @(Model.IsCurrentlyWorking ? "checked" : "")>
                            <label class="custom-control-label" for="isWorking">Hala Çalışıyorum</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Sıra</label>
                        <input type="number" name="Order" value="@Model.Order" class="form-control" />
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-warning text-white">Güncelle</button>
                    <a href="/Admin/Experiences" class="btn btn-default">İptal</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#isWorking').change(function() {
            if (this.checked) {
                $('#endDateGroup').hide();
            } else {
                $('#endDateGroup').show();
            }
        });
        if ($('#isWorking').is(':checked')) $('#endDateGroup').hide();
    </script>
}
